<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/logs.css">
    <title>Log Folders</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar-section">
            <div class="techno-logo-img-section">
                <img src="/img/technotask_logo_white.png" alt="" srcset="">
            </div>
            <div class="nav-right-user-profile-info-with-logout-btn-section">
                <div class="user-id-details-section">
                    <p>Welcome, userId |</p>
                </div>
                <div class="logs-file-display-section">
                    <form action="/api/v1/dashboard" method="get">
                        <input type="submit" value="Dashboard">
                    </form>
                </div>
                <div class="dark-and-white-theme-section">
                    <button id="toggleMode">Toggle</button>
                </div>
                <div class="logout-btn-section">
                    <form action="/api/v1/logout" method="post">
                        <input type="submit" value="Log Out">
                    </form>
                </div>
            </div>
        </div>
        <div class="hero-section">
            <div class="logs-folder-file-and-search-option-section">
                <div class="log-file-heading">
                    <h2>Logs Folders</h2>
                </div>
                <div class="search-bar-main-section"></div>
            </div>
            <div class="list-down-all-logs-folders-main-section">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>
</body>
</html>
